.App {
  text-align: center;
  color: white;
}

.main {
  padding-bottom: 60px; /* Height of the footer */
}

.discord-section {
  margin-top: 2rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-right {
  margin-right: 5px;
}

.discord-section .btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: 0.4rem 0.8rem;
  white-space: normal;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  position: relative;
  background: none;
  border-color: #ffffff;
  color: #ffffff;
  background-color: #7289da;
  text-decoration: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #282c34;
  color: white;
  text-align: center;
}
